@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", serif;
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.hero-section {
  max-width: 55rem;
  text-align: center;
  font-size: 1.4rem;
}

header p:first-child {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.cv-section {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.cv-section form {
  background-color: #f0f4f8;
  padding: 2rem;
  width: 40rem;
  color: #57595B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-information, .education-block {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.form-information div:not(div:first-of-type) {
  padding: 0 2rem;
}

.cv-section form input:not(#profile-image), textarea {
  background-color: #dbdddd;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: .2rem;
  width: 100%;
  margin-top: 1rem;
}

.section-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-name p {
  font-weight: 500;
  font-size: 1.8rem;
}

.section-index {
  background-color: #79CB82;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
}

.submitBtn-container {
  padding: 0 4rem;
  align-self: stretch;
}

.submitBtn-container button {
  text-align: center;
  width: 100%;
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  font-weight: 500;
  font-size: 1.8rem;
  background-color: #79CB82;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}

main {
  position: relative;
  display: none;
}

.cv-page-section {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.cv {
  width: min(85rem, 80%);
  background-color: white;
  display: flex;
  box-shadow: 2px 2px 4px #57595B;
  height: max-content;
  min-height: 80rem;
}

.cv aside {
  flex-basis: 25%;
  background-color: #252525;
  padding: 5rem 2rem;
  flex-shrink: 0;
}

.profile-picture {
  width: 13rem;
  height: 13rem;
  justify-self: center;
}

.profile-picture img {
  object-fit: cover;
  object-position: 100% 100%;
  width: 100%;
  height: 100%;
  border: .25rem groove #F1AB08;
  border-radius: 50%;
}

.contact-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: calc(1rem + 1vw);
  color: #ebe8e8;
}

.contact-heading {
  text-align: center;
  font-size: 2.4rem;
  color: #F1AB08;
}

.contact-container div:not(div:first-of-type) {
  display: flex;
  gap: calc(1rem + 1vw);
  font-size: calc(1.4rem + .05vw);
  word-break: break-all;
}

.contact-container div:not(div:first-of-type) img {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  background-clip: border-box;
}

.cv-content {
  padding: 5rem 3rem;
}

.profile-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

.profile-name + p {
  font-style: oblique;
  margin-top: .15rem;
  text-transform: uppercase;
}

.profile-sumary {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.experience-section h3, .education-section h3 {
  margin: 8rem 0 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #F1AB08;
  letter-spacing: .2rem;
}

.experience-content, .education-content {
  display: flex;
  padding: 0 2rem 2rem;
  border-left: 2px solid #F1AB08;
  position: relative;
  text-align: left;
}

.experience-content:last-of-type, .education-content:last-of-type {
  border: none;
}

.experience-content::before, .education-content::before {
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  background-color: #F1AB08;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -.8rem;
}

.experience-date, .education-date {
  flex-basis: 18rem;
  font-size: 2rem;
  color: #F1AB08;
}

.education-details, .experience-details {
  flex-basis: 100%;
}

.experience-details h4, .education-details h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.edit-cv {
  position: absolute;
  background-color: #F1AB08;
  color: #2d2a2a;
  font-weight: 500;
  font-size: 1.8rem;
  padding: .8rem 1.2rem;
  border: none;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}

.edit-cv:hover {
  background-color: #2d2a2a;
  color: #F1AB08;
}

.form-information {
  position: relative;
  padding: 0 0 3.5rem;
}

.profile-image-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.profile-image-container label {
  text-wrap: nowrap;
}

#profile-image {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addToggle, .removeToggle {
  position: absolute;
  right: 0;
}

.addToggle {
  top: 2.5rem;
}

.removeToggle {
  right: -2rem;
  bottom: 0;
}

.addToggle button {
  background-color: #79CB82;
  color: #fff;
  padding: .35rem .85rem;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}

.removeToggle button {
  background-color: #f95700;
  color: #fff;
  padding: .35rem .85rem;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}

@media screen and (max-width: 600px) {
  .cv aside {
    flex-shrink: 1;
  }
}